{% extends 'Base.html' %}
{% block content %}
<h4 class="alert alert-primary">Sub-admin Management</h4>
<center>

    <!-- Button trigger modal -->
    <form class="form-inline ml-3">
        <div class="input-group input-group-sm">
            <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
            <div class="input-group-append">
                <button class="btn btn-navbar" type="submit">
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </div>
        <div>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#subadminmodal">
                Add Sub-admin
            </button>
        </div>
    </form>

    <!-- Modal -->
    <div class="modal fade" id="subadminmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header bg-info">
                    <h5 class="modal-title" id="exampleModalLongTitle">Sub Admin Detail</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form method="POST"  enctype="multipart/form-data">
                    <div class="modal-body">
                        {% csrf_token %}
                        {{subadminform.as_p}}
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Add Sub Admin</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</center>
{% endblock content %}