{% extends 'Base.html' %}
{% block content %}
<style>
	.errorlist {
		list-style-type: none;
		color: red;
		font-size: 12px;
		margin: 0;
	}
	.mstag {
		color: Green;
	}

</style>
<center>
    <h4 class="alert alert-primary">Sub-admin Management</h4>
    {% if messages %} {% for message in messages %}
	<span class="mstag">{{ message }}</span>
	{% endfor %} {% endif %}

    <!-- Button trigger modal -->
    <form class="form-inline ml-3">
        <div class="input-group input-group-sm">
            <input class="form-control form-control-navbar" type="search" placeholder="Search" aria-label="Search">
            <div class="input-group-append">
                <button class="btn btn-navbar" type="submit">
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </div>
        <div>
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#usermodal">
                Add User
            </button>
        </div>
    </form>

    <!-- Modal -->
    <div class="modal fade" id="usermodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header bg-info">
                    <h5 class="modal-title" id="exampleModalLongTitle">User Detail</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form method="POST"  enctype="multipart/form-data" novalidate>
                    <div class="modal-body">
                        {% csrf_token %}
                        {{Usercreation_form.as_p}}
                        {{user_detail_form.as_p}}
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary">Add User</button>
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
   
    <br><table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">User Id</th>
            <th scope="col">Name</th>
            <th scope="col">Email Address</th>
            <th scope="col">Phone Number</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
    {% for sub in user_details %}
          <tr>
            <td>{{sub.id}}</td>
            <td>{{sub.first_name}}&nbsp;{{sub.last_name}}</td>
            <td>{{sub.email}}</td>
            <td>
                {% for i in sub.user_detail_key.all %}
                {{i.phone_no}}
                {% endfor %}
            </td>
            <td>
                <a href="{% url 'updatesubadmin' sub.id %}"><i class="fas fa-edit text-info fa-lg"></i></a>
                <a href="{% url 'deletesubadmin' sub.id %}"><i class="fas fa-trash text-danger fa-lg"></i></a>       
            </td>
          </tr>
    {% endfor %}
        </tbody>
      </table>

</center>
{% endblock content %}